Frontend/dist/
Frontend/node_modules/
__pycache__/
*.pyc
uploads/
.venv/
.env
node_modules/
Frontend/node_modules/
.vite/
dist/
.env
# dependencies
node_modules/
Frontend/node_modules/

# vite build cache
.vite/
Frontend/.vite/

# environment files
.env

# build output
dist/